<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bytefest</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .footer {
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
    font-size: 13px;
}

.footer a {
    color: #b7c2d3ff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer a:hover {
    color: #2563eb;
    text-decoration: underline;
}
    </style>
</head>

<body>

<div id="navbar">Bytefest</div>

<div id="main-container">

    <div id="left-panel">
        <div id="code-scatter-area"></div>
    </div>

    <div id="right-panel">

        <div id="timer">
            Time Left : <span id="timer-value">00</span>
        </div>

        <div style="display:flex; gap:8px;">
            <input id="secret-code-input" placeholder="Secret code" />
            <button id="load-code-button">Load Code</button>
        </div>

        <div id="editor-container">
            <div id="line-numbers"></div>
            <textarea id="user-code-input" spellcheck="false"></textarea>
        </div>

        <div id="submit-container">
            <button id="submit-button">Submit Code</button>
        </div>

        <div id="status-message"></div>

    </div>

</div>
<footer class="footer">
    <a href="https://github.com/omkar3311" target="_blank" rel="noopener noreferrer">
        omkar3311
    </a>
</footer>
<script src="/static/js/index.js"></script>

</body>
</html>